// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../../../Pods/Target Support Files/Pods-PokemonWorld/Pods-PokemonWorld.debug - production.xcconfig"
#include "../../../Pods/Target Support Files/Pods-PokemonWorld/Pods-PokemonWorld.release - production.xcconfig"
